# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add. / git add .
3. message / massage

# 01. 변수

```
var_name = value
```

- 변수 이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용해서 선언
- 키워드는 불가능

In [7]:
a = 100

In [8]:
a

100

In [11]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [40]:
seoul_dust_rate = 150

## 1.1 number

In [12]:
a = 10000

In [13]:
a

10000

In [14]:
type(a)

int

In [18]:
b = 1.1

In [19]:
b

1.1

In [20]:
type(b)

float

In [21]:
c = 1 + 1j

In [22]:
c

(1+1j)

In [23]:
type(c)

complex

## 1.2 boolean

In [24]:
a = True

In [25]:
a

True

In [26]:
type(a)

bool

In [27]:
b = False

In [28]:
b

False

In [29]:
type(b)

bool

## 1.3 string
- 문자열 `'`, `"` 를 이용하여 표현

In [30]:
a = 'hello'

In [31]:
b = "hi"

In [32]:
a

'hello'

In [33]:
b

'hi'

In [35]:
print('hello my name is "minyeok"')

hello my name is "minyeok"

In [37]:
print('hello\n my name is \'alsgur\'')

hello
 my name is 'alsgur'

In [38]:
a = '''
hello
world
hi
'''

In [39]:
a

'\nhello\nworld\nhi\n'

In [42]:
a = 10
b = '홍길동은 ?살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string

In [44]:
age = 10

In [49]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [50]:
print('홍길동은 {}살입니다.' .format(age))

홍길동은 10살입니다.

In [52]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

# 02. 연산자

## 2.1 산술연산자

- `a ** b` a를 b번 제곱
- `a // b` a를 b로 나눈 몫
- `a % b` a를 b로 나눈 나머지

In [64]:
a = 5
b = 2

In [65]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
3
10
2.5

In [67]:
print(a ** b) 
print(a // b)
print (a % b)

25
2
1

In [69]:
result = divmod(a, b)
print(result)

(2, 1)

## 2.2 비교연산자

In [70]:
a = 5
b = 10

In [73]:
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

True
False
True
False

In [75]:
print(a == b)
print(a != b)

False
True

In [78]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True 일 때, True를 반환 
- or : 양쪽 모두 False 일 때, False를 반환
- not : 상태를 부정

In [80]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [81]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [82]:
a = True
print(not a)

False

In [87]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [88]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합연산자

In [2]:
a = 2
b = 3

In [3]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [4]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

In [5]:
a

0.0

## 2.5 기타연산자

In [144]:
a = 'hi'
b = 'hello'

In [149]:
# concatenation
print(a + b)

hihello

In [150]:
a = [1, 2, 3]
b = [2, 3, 4]

In [1]:
print(a + b)
print(b + a)

NameError: name 'a' is not defined

In [153]:
print(1 in a)
print(10 in a)

True
False

In [180]:
a = 256
b = 256

In [181]:
print(a == b)
print(a is b)

True
True

### 연산자 우선순위
0. ()를 통해서 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자(<,=,>), in, is
5. not
6. and
7. or

In [182]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환

## 3.1 암시적 형변환

In [183]:
a = True
b = False
c = 1

In [185]:
print(a + b)
print(a + c)

1
2

## 3.1 명시적 형변환
- int()
- float()
- str()
- bool()

In [194]:
a = 1
b = '반'

In [195]:
print (a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [196]:
print(str(a) + b)

1반

In [197]:
a = '3'

In [201]:
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [207]:
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [204]:
a = 1
b = 0
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [206]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

In [8]:
1 < 2
5 == 1
1 > 2
# 셀의 마지막 값을 자동으로 output으로 출력

False

In [9]:
print(1 > 2)
print(5 == 1)
print (1 > 2)

False
False
False

In [11]:
a = 5

In [12]:
a

5

In [24]:
result1 = divmod(5, 2)
print(result1)
result2 = divmod( 10,3)
print(result2)

(2, 1)
(3, 1)

In [26]:
divmod(5, 2)
divmod(10, 3)
divmod(3, 8)
divmod(98, 4)

(24, 2)

In [28]:
print(divmod(5, 2))
print(divmod(10, 3))
print(divmod(3, 8))
print(divmod(118, 4))

(2, 1)
(3, 1)
(0, 3)
(29, 2)

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. List
2. Tuple
3. Range
4. String

Tuple은 거의 안 써요

## 4.1 List (리스트, 배열)
- 선언 : var_name = [value1, value2, value3 ...]
- 접근 : var_name[index] (index 값은 정수데이터 사용) / (숫자의 시작은 0부터)

In [4]:
l = []
print(1)
print(type(l))

1
<class 'list'>

In [19]:
location = ['서울', '대전', '부산']
print(location)
print(location[2])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
부산
['서울', '대구', '부산']

## 4.2 Tuple
- 선언 : var_name = (value1, value2, value3, ...)
- 접근 : var_name[index] (list와 동일)
- 수정불가능하다(immutable)

In [20]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [21]:
location[2] = '부산'

TypeError: 'tuple' object does not support item assignment

In [22]:
result = divmod(5, 2)
print(result)
print(type(result))

(2, 1)
<class 'tuple'>

In [23]:
x = 1
y = 2

(x, y) = (y, x)
print(x, y)

2 1

## 4.3 Range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위

In [25]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [27]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [30]:
even = range(2, 21, 2)
print(even)
print(list(even))

range(2, 21, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
numbers = range(0, -20, -2)
print(numbers)
print(list(numbers))

range(0, -20, -2)
[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고

In [38]:
s = 'hi my name is chang'
print(s[2])

## 4.5 시퀀스에서 활용가능한 연산/함수

In [54]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [55]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [56]:
# slicing
# var-name [index1 : index2]
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [63]:
#0 인덱스 생략
print(my_list[:3])
print(my_list[3:])

['a', 'b', 'c']
['d', 'e']

In [75]:
# 음수 인덱스
print(my_list[-1])
print(my_list[-3:-1])

e
['c', 'd']

In [76]:
# step
print(my_list[::2])

['a', 'c', 'e']

In [82]:
# in
print(1 in my_list)
print('a' in my_list)

print('a' not in my_list)
print('z' not in my_list)

False
True
False
True

In [88]:
# concatennation - 연결
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [91]:
# *
print(my_list * 2)
print('a' * 5)
print([0] * 10)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [92]:
len(my_list)

5

In [93]:
max(my_list)

'e'

In [94]:
min(my_list)

'a'

# 5. 시퀀스형이 아닌 자료구조

## 5.1 Set
- 수학에서의 집합과 비슷한 개념(중복값이 없음) - 순서 중요하지 않음
  
- 선언 : var_name = {value1, value2, value3, ...}

In [99]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [100]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [106]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a and my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5}

In [114]:
location = ['서울', '대구', '부산', '광주', '부산', '광주', '부산', '광주', '부산' ]
print(set(location))

{'부산', '서울', '대구', '광주'}

## 5.2 Dictionary
- 선언 : var_name = {key1: value1, key2: value2, ...,}  (key = 키워드, value = 설명)
- 접근 : var_name[key]

In [123]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [124]:
my_info = {
        'name': 'minhyeok',
        'location': 'seoul',
        'age': '28',
        'skill': ['python', 'git']
}

In [144]:
print(my_info['name'])
print(my_info['skill'])
print(my_info['age'])
print(my_info['location'])
print(my_info['skill'][1])

minhyeok
['python', 'git']
28
seoul
git

**데이터 타입**
1. Number
2. Boolean
3. String

**자료 구조**

- 시퀀스
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable
   
- 시퀀스가 아닌 것
1. (Set) : mutable
2. (Dictionary) : mutable

*immutable은 일부 조정이 불가능하다는 뜻(덮어 쓰기는 가능)*

In [146]:
a = 'hello'
a[0 = 'H']

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2284860801.py, line 2)