# 제어문

## 조건문 (if문)

1. if문은 반드시 참/거짓을 판단 할 수 있는 '조건식'과 함께 사용한다.
    - if <조건식>:
2. '<조건식>' 참인 경우 : ':' 이후의 문장을 실행
3. '<조건식>' 거짓인 경우 : else: 이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [ ]:
my_string = input()
print(my_string)

if my_string == '12/25':
    print('merry christmas')
else:
    print('you fault')

In [ ]:
num = input('숫자를 입력해주세요')

if int(num) % 2 == 1:
    print('odd')
else:
    print('even')

In [1]:
num = int(input())

if num % 2 == 1:
    print('odd')
else:
    print('even')

 1

odd

In [2]:
num = int(input())

if num % 2 == 0:
    print('even')
else:
    print('odd')

 2

even

In [3]:
num = int(input())

if num % 2:
    print('odd')
else:
    print('even')

 1

odd

In [6]:
num = int(input('5의 배수 판단'))

if num % 5 == 0:
    print('True')
else:
    print('Fasle')

5의 배수 판단 1

Fasle

In [8]:
num = int(input())

if num % 5:
    print('false')
else:
    print('true')

 15

true

### elif

```
if <조건식>:
    참인 경우
elif<조건식>:
    elif문이 참인 경우
else:
    위의 모든 조건식이거짓인 경우
```

In [18]:
score = int(input())

if score >= 90:
    print('A')
    if score >= 95:
        print('Good job')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 94

A

### 조건표현식
- `'true_value' if <조건식> else 'false_value`

In [69]:
a = 0

if True:
    a = 100
else:
    a = -100
print(a)

100

In [61]:
a = 0

a = 100 if True else -100
print(a)

100

In [56]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 10

10

In [37]:
num = int(input())
result = num if num >= 0 else 0
print(result)

 10

10

In [54]:
num = 9

result = '홀수' if num % 2 else '짝수'
print(result)

홀수

In [44]:
num = 9

if num % 2:
    result = ('홀수')
else:
    result = ('짝수')
print(result)

홀수

# 반복문

## while문
```
    while<조건식>:
        실행할 코드
```

In [57]:
a = 0

while a < 5:
    print(a)
    a = a+1

0
1
2
3
4

## for 문
- 정해진 범위 내의 반복
```
for var_name in sequence:
    code
```

In [63]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [66]:
word = 'apple'

for alp in word:
    print(alp)

a
p
p
l
e

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [74]:
numbers = range(1,51)

for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [76]:
locations = ['서울', '대전', '부산']

for location in enumerate(locations):
    print(location)

(0, '서울')
(1, '대전')
(2, '부산')

In [79]:
locations = ['서울', '대전', '부산']

for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### Dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [112]:
info = {
    'name' : 'dayomi',
    'location' : 'incheon',
    'phone' : '000000',
    'age' : 'Forever 22',
}

In [84]:
for k in info:
    print(k)

name
location
phone
age

In [93]:
for k in info.keys():
    print(k, info[k])

name dayomi
location incheon
phone 000000
age Forever 22

In [89]:
for dayomi in info.values():
    print(dayomi)

dayomi
incheon
000000
Forever 22

In [90]:
for k, dayomi in info.items():
    print(k, dayomi)

name dayomi
location incheon
phone 000000
age Forever 22

In [111]:
blood_type = {
    'A' : 15,
    'B' : 8,
    'C' : 5,
    'AB' : 4,
}

In [99]:
print('혈액형 종류는 다음과 같습니다')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다
A
B
C
AB

In [102]:
result = 0

for number in blood_type.values():
    result = result + number
print(result)

32

In [108]:
for k, v in blood_type.items():
    print(f'{k}형은 {v}명입니다.')

A형은 15명입니다.
B형은 8명입니다.
C형은 5명입니다.
AB형은 4명입니다.

### break

반복문을 종료 시키는 키워드

In [113]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 브레이크')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 브레이크

In [123]:
while True:
    rice = input()
    if rice == '쌀':
        print('잡았다')
        break

 쌀

잡았다

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [129]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [130]:
ages = [10, 20, 30, 23, 43, 9, 20]
for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

20살은 성인입니다.
30살은 성인입니다.
23살은 성인입니다.
43살은 성인입니다.
20살은 성인입니다.

### else
else 문은 끝까지 반복된 경우 실행됩니다. break를 만나지 않은 경우 실행

In [133]:
for i in range(10):
    if i > 10:
        break
    print(i)
else:
    print('it all done')

0
1
2
3
4
5
6
7
8
9
it all done