In [ ]:
age = int(input())

if age >= 18:
    print('"성인입니다"')
else:
    print('"미성년자입니다"')

In [ ]:
result = int(input())

if result >= 90:
    print('"A"')
    if result >94:
        print('Good job')
elif result >= 80:
    print('"B"')
elif result >= 70:
    print('"C"')
else:
    print('"F"')

In [ ]:
num1 = int(input())
num2 = int(input())

if num1 == num2:
    print("두 숫자는 같습니다.")
else:
    print("두 숫자는 다릅니다.")

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 > num2 and num3:
    print(num1)
elif num2 > num3:
    print(num2)
else:
    print(num3)

In [ ]:
word = input()

if word == "hello":
    print("안녕하세요!")
else:
    print("다시 입력해 주세요.")

In [ ]:
year = int(input())

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print('윤년')

else:
    print('윤년 아니다')

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 == num2 == num3:
    print('세 숫자는 모두 같습니다.')
elif (num1 == num2) or (num1 == num3) or(num2 == num3):
    print('두 숫자는 같습니다.')
else:
    print('세 숫자는 모두 다릅니다.')

In [ ]:
x1 = float(input())
y1 = float(input())
x2= float(input())
y2 = float(input())

dis = ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5

print(dis)

In [ ]:
a = 5
b = 5

if a > b:
    print('>, if true')
elif a == b:
    print('==, elif true')
else:
    print('<, flase')

In [ ]:
num = int((input))

if num

In [ ]:
for i in range(11):
    if i % 2 == 1:
        continue
    print(i)

In [ ]:
for i in range(101):
    if i % 3 == 0:
        print(i)

In [ ]:
n = int(input())

for num in range(1, n+1):
    print(num)

In [ ]:
n = int(input())

result = 0

for i in range(n):
    result = result + i+1
    total = int(input(result))
    print(total)

In [6]:
random.sample(range(1, 46), 6)

[20, 10, 32, 34, 7, 11]

In [19]:
def lotto():
    game_set = range(5)
    result = []
    for game in game_set:
        game = random.sample(range(1, 46), 6)
        result.append(game)
    return result

In [12]:
lotto_number()

[[7, 15, 42, 8, 34, 25],
 [43, 13, 7, 5, 22, 25],
 [8, 40, 14, 36, 32, 21],
 [44, 42, 13, 2, 37, 32],
 [37, 7, 3, 27, 20, 14]]

In [2]:
import random

In [196]:

game = random.sample(range(1, 46), 6)

    
grade = 0
lucky_nums = [3, 9, 27, 28, 38, 39]

for select_num in game:
    if select_num not in lucky_nums:
        grade += 1
result = ''
if grade == 0 :
    result = '1등'
elif grade == 1:
    result = '3등'
elif grade == 2:
    result = '4등'
elif grade == 3:
   result = '5등'
else:
   result = '꽝'

print(game, result)

[11, 41, 10, 28, 17, 24] 꽝